<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.home.spring.annotation_in_xml.CDPlayerConfig"/>
    <import resource="anotherBeans.xml"/>

    <bean id="compactsBox" class="org.home.spring.annotation_in_xml.box.CompactDiskBox">
        <constructor-arg name="americanDisk" ref="americanDisk"/>
        <constructor-arg name="russianDisk" ref="russianDisk"/>
        <constructor-arg name="ukrainianSongs" ref="ukrainianDisk"/>
    </bean>

</beans>